// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// mes variable btn
$btn-rad: 20px;

// Mes variable color
$primary: #316bf2;
$body-bg: #f8fafc;
$info: #0DCAF0;
$warning: #FFC107;
$danger: #DC3545;
